.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 105px;
}

.todoForm {
  padding-bottom: 20px;
}

.page-header {
  margin-top: 0 !important;
}
